
<div id="register-form" class="small-12 small-centered text-center columns">
  <div class="medium-3 medium-centered text-center columns">
    <%=form_for @user do |f| %>
      <div>
        
        <%= f.text_field :first_name, placeholder: "First Name", required: true %>
      </div>
      <div>
        <%= f.text_field :last_name, placeholder: "Last Name", required: true %>
      </div>
      <div>
        <%= f.password_field :password, placeholder: "Password", required: true %>
      </div>
      <div>
        <%= f.email_field :email, placeholder: "Email", pattern: "^[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,4}$", required: true %>
      </div>
      <div>
        <%= f.phone_field :phone, placeholder: "Phone (Format XXX-XXX-XXXX)", pattern: "^(\+0?1\s)?\(?\d{3}\)?[\s.-]\d{3}[\s.-]\d{4}$", required: true %>
      </div>
      <%= f.text_field :location, placeholder: "Location", required: true %>
      <div>
        <%= f.submit "Join Pi In The Sky", class: 'button' %>
      </div>
  </div>
<% end %>
</div>

