
<div id="register-form" class="small-12 small-centered text-center columns">
  <div class="medium-3 medium-centered text-center columns">
    <%=form_for @user do |f| %>
      <div>
        
        <%= f.text_field :first_name, placeholder: "First Name" %>
      </div>
      <div>
        <%= f.text_field :last_name, placeholder: "Last Name"  %>
      </div>
      <div>
        <%= f.password_field :password, placeholder: "Password" %>
      </div>
      <div>
        <%= f.email_field :email, placeholder: "Email"%>
      </div>
      <div>
        <%= f.phone_field :phone, placeholder: "Phone Number" %>
      </div>
      <%= f.text_field :location, placeholder: "Location" %>
      <div>
        <%= f.submit "Join Pi In The Sky", class: 'button' %>
      </div>
  </div>
<% end %>
</div>

