<body class="user-show-page">
<%= render 'nav' %>
<% if logged_in? %>

<div class="show-header">
  <div class="small-12 small-centered text-center columns">
    <h2>Welcome, <%=@user.first_name.capitalize%>!</h2>

  <div class="small-12 small-centered text-center columns"id='edit_form'>
    <%=form_for @user do |f|%>
    Text me at:
    <div id='phone_div'>
      <%= f.phone_field :phone, placeholder: "Phone Number", class: 'phone_number'%>
    </div>
    when my favorite city's AQI is less than:
    <div id='alert_level_div'>
      <%= f.select :alert_level, options_for_select([['80  ', 80], ['60  ', 60],['40  ', 40],['20  ', 20]],@user.alert_level), {}, class: 'alert_level'
      %>
    </div>
      <%=f.submit "Update"%>
    <%end%>
  </div>
</div>

<hr id = "blue-line">
<h2 id="fav-header" class="center">Favorites</h2>
<div id='favorites'>
  <%if @favorite_objects.any?%>
    <%@favorite_objects.each do |object| %>
      <table class="responsive">
        <thead>
          <tr id="GDO-index-header">
            <th class="center" id="first" width="200">City</th>
            <th class="center" width="150">AQI</th>
            <th class="center" width="150">Description</th>
            <th class="center" width="150">Primary Toxin</th>
            <th class="center" id="last" width="150"></th>
          </tr>
        </thead>
        <tbody>
          <tr id="GDO-index-info">
            <td><p><%=object.city%>, <%=object.state%></p></td>
            <td><p><%=object.breezometer_aqi%></p></td>
            <td><p><%=object.breezometer_description%></p></td>
            <td><p><%=object.dominant_pollutant_description%></p></td>
            <td> <p><%= button_to "Delete", favorite_path(@user, @edit_global_data_object), method: :delete %></p></td>
          </tr>
        </tbody>
      </table>
    <%end%>
  <%else%>
    <div class="center">You have no favorites at the moment</div>
  <%end%>
</div>

<div class="small-12 small-centered text-center columns"> <h2 id="login-show-page"> <%= link_to "Log Out", logout_path %> </h2>
<% else %>
<div class="medium-12 medium-centered text-center columns" >
  <h1> <%= link_to "Log In", login_path %> or <%= link_to "Register", register_path %> to continue </h1>
</div>

<% end %>
</body>

 <footer id="user-footer">Created 2016:
                      <a href='https://github.com/JoshJHWu'>Josh Wu, </a>
                      <a href='https://github.com/jillwc07'>Jillian Campbell, </a>
                      <a href='https://github.com/darrow87'>Alex Forger, </a>
                      <a href='https://github.com/carlincharge'>Carl Conroy</a>
  </footer>
