<%= render 'nav' %>
<% if logged_in? && @user.id == current_user.id %>

<div class="show-header">
  <div class="small-12 small-centered text-center columns">
    <h1>Welcome, <%=@user.first_name%>!</h1>
    <h2>Here are your favorite cities: </h2>
  </div>

  <div id='alert_form'>
    <h5> Your alert level is:</h5>
    <%=form_for @user do |f|%>
      <%= f.select :alert_level, options_for_select([['80', 80], ['60', 60],['40', 40],['20', 20]],@user.alert_level) %>
      <%=f.submit "Update"%>
    <%end%>
  </div>
</div>

<%@favorite_objects.each do |object| %>
<table>
  <thead>
    <tr>
      <th width="200">City</th>
      <th width="150">AQI</th>
      <th width="150">Description</th>
      <th width="150">Primary Toxin</th>
      <th width="150"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><p><%=object.city%>, <%=object.state%></p></td>
      <td><p><%=object.breezometer_aqi%></p></td>
      <td><p><%=object.breezometer_description%></p></td>
      <td><p><%=object.dominant_pollutant_description%></p></td>
      <td> <p><%= button_to "Delete", favorite_path(@user, @edit_global_data_object), method: :delete %></p></td>
    </tr>

  </tbody>

</table>
<% end %>
<div class="small-12 small-centered text-center columns"> <h2> <%= link_to "Log Out", logout_path %> </h2>
<% else %>
<div class="medium-12 medium-centered text-center columns" >
  <h1> <%= link_to "Log In", login_path %> or <%= link_to "Register", register_path %> to continue </h1>
</div>

<% end %>
