<%= render 'nav' %>

<div class="show-header">
  <div class="small-12 small-centered text-center columns">
    <h1>Welcome, <%=@user.first_name%>!</h1>
    <h2>Here are your favorite cities: </h2>
  </div>


</div>
    <script>
    $(document).ready(function(){

      $('.edit_global_data_object').on("submit", function(event){

      })
    })
    </script>

<%@favorite_objects.each do |object| %>
<table>
  <thead>
    <tr>
      <th width="200">City</th>
      <th width="150">AQI</th>
      <th width="150">Description</th>
      <th width="150">Primary Toxin</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><p><%=object.city%></p></td>
      <td><p><%=object.breezometer_aqi%></p></td>
      <td><p><%=object.breezometer_description%></p></td>
      <td><p><%=object.dominant_pollutant_description%></p></td>
      <td><p>Button</p></td>
      <td><p id="AQI-update">
        <%= form_for object do |object| %>
          <%= object.submit "Refresh AQI" %>
        <%end%>
      </p></td>
    </tr>
  </tbody>
</table>
<% end %>
