<div id="top" class='row'>
  <div class='large-centered text-center columns'>
      <%if LocalDataObject.any? %>
          <h1>Local CO2</h1>
          <div id="sensor"><%=@local_data_object.sensor_output%></div>
          <div>ppm</div>
      <%else%>
        <h2 id="sensor-text">Sensor Offline</h2>
      <%end%>
          <hr>

  <div class="responsive" id= "row-above-map"class="row">
    <div class="small-9 large-9 columns, small-centered test-center columns">
        <h3 id="map-header-text">Air Quality Index Locator</h3>
    </div>
    <div class="small-3 large-3 columns, small-centered test-center columns">
        <%if @user %>
          <a id="user-profile-link" href="/users/<%=@user.id%>"><b>User Profile</b></a>
        <%end%>
    </div>
  </div>
        <div id="map"><script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPFEGsOj9qknr0hyVxA78O8cS0OTbvbrE&callback=initMap"
            async defer></script></div>
          <p id="map-instruction-text">Click the map to get your AQI details!</p>
          <hr>
          <%= render partial: 'shared/errors'%>
      <div id="AQI-container">
    </div>
  </div>
</div>

<div class="row">
  <div class="large-centered test-center columns">
  <table class="responsive" id="GDO-table">
    <tr id="GDO-index-header">
      <td id="first"><b>City</b></td>
      <td><b>AQI</b></td>
      <td><b>Description</b></td>
      <td id="last"><b>Primary Toxin</b></td>
    </tr>
    <tr id="GDO-index-info">
      <td id="city"></td>
      <td id="AQI"></td>
      <td id="AQIdesc"></td>
      <td id="pollutant"></td>

    </tr>
  </table>

    <p id="dominant-pollutant-text"></p>
    <div id="output"></div>
  </div>
    <div class='small-centered text-center columns'>

    <b class="button large" id='favorite'><%= button_to "Favorite!", action: "create", controller: "favorites"%></b>

  </div>
</div>

<div class='row'>
  <div class='medium-centered text-center columns'>
    <%=image_tag ("breezometer-index.jpg")%>
  </div>
</div>
<div class='small-centered text-center columns'>

</div>

